<h1>Answer page</h1>
 <!-- <%= params %> -->
 <br>
 <br>

<div id="question" class="card">
<h3>Your question to the coach was</h3>
<%= params[:question] %>
</div>

<br>
<br>

<div id="answer" class="card">
<h3>Coaches answer:</h3>
<%= @answer %>
</div>
<br>
<br>
<br>

<a href="/ask">Ask a new question</a>
