<h1>Answer page</h1>
 <!-- <%= params %> -->
 <br>
 <br>

<h3>Your question to the coach was</h3>
<%= params[:question] %>

<br>
<br>

<h3>Coaches answer:</h3>
<%= @answer %>
<br>
<br>
<br>

<a href="/ask">Ask a new question</a>

