// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    margin: 50px
}

.card {
    border-left: 8px solid grey;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-left: 16px;
}

#answer {
    background-color: rgba(255, 255, 0, 0.4);
    width: 25vw;
}
